grant 
{
    // permission java.net.SocketPermission "*:1024-65535", "connect,accept";
    // permission java.net.SocketPermission "*:80", "connect";
    // permission java.util.PropertyPermission "*", "read";
    // permission java.io.FilePermission "${user.home}/Colossus/*", "read,write";

    // Wide open for testing
    permission java.security.AllPermission;
};
